body {
  margin:0px;
  height:100%;
  font-family: 'Playfair Display';
  font-family: 'Hammersmith One';
  font-size: 20px;
  color: #D7E0EB;
  background-color: #253439;
}
.navbar {
  width: 100%;
  overflow: auto;
  background-color: #253439;
}
.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  width: 40%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: 0.3;
}
.navbar a:hover {
    color: white;
    font-size: 25px;
    background-color: #243539;
    opacity: 1;
}
.navbar:hover {
  opacity: 1;
  text-weight: bold;
}
.navbar a.active {
  background-color: #243539;
}
.main {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  border: 1px solid #D7E0EB;
  border-opacity: 0.2;
  overflow-y: auto;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
  padding-bottom: 5vh;
}
.search {
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 45%;
  border: 1px solid #D7E0EB;
  border-opacity: 0.2;
  padding-left: 3%;
  padding-right: 2%;
  height: 40px;
  float: left;
  border-radius: 6vh;
}
.currency {
  width: 96%;
  height: 15%;
  //border: 1px solid black;
  margin-top: 2%;
  padding: 2%;
  float: left;
}
.icon-currency {
  width: 20%;
  height: 25vh;
  margin-top: 1%;
  margin-right: 4%;
  margin-left: 5%;
  float: right;
  background-image: url("currency.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position:absolute;
  margin-right: 10%;
}
.currency-name {
  width: 40%;
  height: 30%;
  //border: 1px solid black;
  float: right;
  margin-top: 3%;
  margin-left: 50%;
}

.currency-country {
  width: 40%;
  height: 30%;
  //border: 1px solid black;
  float: right;
  margin-top: 6%;
  margin-left: 50%;
}
.currency-value {

  width: 40%;
  height: 30%;
  //border: 1px solid black;
  float: right;
  margin-top: 6%;
  margin-left: 50%;
}
.icon {
  width: 12%;
  float: left;
  background-image: url("CurrencyLogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
hr {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0.5%;
}

.compare1 {
  margin-top:3%;
  width: 49.95%;
  height: 70vh;
  float: left;
}
.line {
  height: 30vh;
  float: left;
  width: 0.1%;
  margin-top:10%;
  background-color: #D7E0EB;
}
.compare2 {
  margin-top:3%;
  width: 49.95%;
  height: 70vh;
  float: right;
}
