body {
  margin:0px;
  height:100%;
  font-family: 'Playfair Display';
  font-family: 'Hammersmith One';
  font-size: 20px;
  color: #D7E0EB;
  background-color: #253439;
}
body {
  color: #D7E0EB;
}
.navbar {
  width: 100%;
  overflow: auto;
  background-color: #253439;
}
.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  width: 40%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: 0.3;
}
.navbar a:hover {
    color: white;
    font-size: 25px;
    background-color: #243539;
    opacity: 1;
}
.navbar:hover {
  opacity: 1;
  text-weight: bold;
}
.navbar a.active {
  background-color: #243539;
}
hr {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0.5%;
}
.main {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  border: 1px solid #D7E0EB;
  border-opacity: 0.2;
  overflow-y: auto;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}
.icon {
  width: 12%;
  float: left;
  background-image: url("CurrencyLogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.form_login {
  margin-left: 10%;
}
.inputs {
  margin: 4.68%;
  width: 70%;
  height: 5vh;
  border-radius: 2vh;
  padding-left: 2vh;
}
#buttons {
  background-color: #D7E0EB;
  color: #253439;
  width: 33%;
}
#buttons:hover {
  width: 36%;
  border: 1px dotted #203050;
}
#buttons:active {
  margin: 6%;
  font-size: 20px;
}
