body {
  margin:0px;
  height:100%;
  font-family: 'Playfair Display';
  font-family: 'Hammersmith One';
  font-size: 20px;
  background-color: #253439;
}
body {
  color: #D7E0EB;
}
.main {
  height: 100vh;
}
.logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 48%;
  float: left;
}
.login {
  background-image: url("login.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 48%;
  float: right;
}
.form_login {
  margin-top: 40%;
  margin-left: 20%;
}
.inputs {
  margin: 5%;
  width: 70%;
  height: 5vh;
  border-radius: 2vh;
  padding-left: 2vh;
}
#op, #con, #Operator, #Consumer {
  width: 20%;
  color: white;
  margin: 0%;
}
#buttons {
  background-color: #D7E0EB;
  color: #253439;
}
#buttons:hover {
  width: 72%;
  border: 1px dotted #203050;
}
#buttons:active {
  margin: 6%;
  font-size: 20px;
}
.line {
  height: 85vh;
  float: left;
  width: 0.5px;
  margin-top:4%;
  background-color: #D7E0EB;
}
